<nav>

      <ul class="nav navbar-nav navbar-left">

      <%= link_to "Home", root_path, class: 'navbar-brand' %>
      </ul>

      <ul class="nav navbar-nav navbar-right">

      <% if current_page?(root_path) %>
				
				
				<li><%=link_to "About", about_path %></li>
	<% end %>

			<% if user_signed_in? %>
			
				<li><%= link_to "New Post", new_post_path %></li>
				 <li><%= link_to 'Edit Profile',edit_user_registration_path %></li>
				<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
				<li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
		   
		    <% else %>
		    	<li><%= link_to 'Login', new_user_session_path %></li>
		    	<li><%= link_to 'Rejestracja',
		    		new_user_registration_path %> </li>
		    <% end %>

		</ul>
</nav>
